<div class="plate-list-page">
  <app-spinner *ngIf="isLoading$ | async"></app-spinner>

  <button
    mat-raised-button
    color="primary"
    class="add-new-plate-item"
    (click)="addItem()">
    Add plate
  </button>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container [matColumnDef]="tableColumnsEnum.id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container [matColumnDef]="tableColumnsEnum.plateNumber">
        <th mat-header-cell *matHeaderCellDef>Plate</th>
        <td mat-cell *matCellDef="let element">{{ element.plate }}</td>
      </ng-container>

      <ng-container [matColumnDef]="tableColumnsEnum.name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container [matColumnDef]="tableColumnsEnum.lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container [matColumnDef]="tableColumnsEnum.actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editItem(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteItem(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
