<div class="edit-item-modal-wrapper">
  <div *ngIf="isLoading; else CUcontent">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="!isLoading" mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button
      color="primary"
      (click)="isCreate ? createNewPlate() : updatePlate()"
      mat-raised-button
      mat-dialog-confirm
      cdkFocusInitial>
      {{ isCreate ? 'Create' : 'Update' }}
    </button>
  </div>
</div>

<ng-template #CUcontent>
  <h1 mat-dialog-title>
    {{ isCreate ? 'Add new entity' : 'Update existing entity' }}
  </h1>

  <div mat-dialog-content>
    <form class="plate-form" [formGroup]="plateForm">
      <mat-form-field>
        <mat-label>Plate number:</mat-label>
        <input
          matInput
          placeholder="AAA123"
          formControlName="plate"
          maxlength="6" />
        <mat-error
          *ngIf="
            plateForm.get('plate')?.hasError('required') &&
            plateForm.get('plate')?.touched
          ">
          <ng-container *ngTemplateOutlet="requiredField"></ng-container>
        </mat-error>
        <mat-error
          *ngIf="
            plateForm.get('plate')?.hasError('notUniq') &&
            plateForm.get('plate')?.touched
          ">
          <ng-container *ngTemplateOutlet="notUniqPlate"></ng-container>
        </mat-error>
        <mat-error
          *ngIf="
            plateForm.get('plate')?.hasError('minlength') &&
            plateForm.get('plate')?.touched
          ">
          <ng-container
            *ngTemplateOutlet="
              fieldMinLength;
              context: { count: 6 }
            "></ng-container>
        </mat-error>
        <mat-error
          *ngIf="
            plateForm.get('plate')?.hasError('maxlength') &&
            plateForm.get('plate')?.touched
          ">
          <ng-container
            *ngTemplateOutlet="
              fieldMaxLength;
              context: { count: 6 }
            "></ng-container>
        </mat-error>
        <mat-error
          *ngIf="
            plateForm.get('plate')?.hasError('pattern') &&
            plateForm.get('plate')?.touched
          ">
          <ng-container *ngTemplateOutlet="notPlate"></ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>First name:</mat-label>
        <input matInput placeholder="Vardenis" formControlName="name" />
        <mat-error
          *ngIf="
            plateForm.get('name')?.hasError('required') &&
            plateForm.get('name')?.touched
          ">
          <ng-container *ngTemplateOutlet="requiredField"></ng-container>
        </mat-error>
        <mat-error
          *ngIf="
            plateForm.get('name')?.hasError('minlength') &&
            plateForm.get('name')?.touched
          ">
          <ng-container
            *ngTemplateOutlet="
              fieldMinLength;
              context: { count: 2 }
            "></ng-container>
        </mat-error>
        <mat-error
          *ngIf="
            plateForm.get('name')?.hasError('notLetters') &&
            plateForm.get('name')?.touched
          ">
          <ng-container *ngTemplateOutlet="notLetters"></ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last name:</mat-label>
        <input matInput placeholder="Pavardenis" formControlName="lastName" />
        <mat-error
          *ngIf="
            plateForm.get('lastName')?.hasError('required') &&
            plateForm.get('lastName')?.touched
          ">
          <ng-container *ngTemplateOutlet="requiredField"></ng-container>
        </mat-error>
        <mat-error
          *ngIf="
            plateForm.get('lastName')?.hasError('minlength') &&
            plateForm.get('lastName')?.touched
          ">
          <ng-container
            *ngTemplateOutlet="
              fieldMinLength;
              context: { count: 2 }
            "></ng-container>
        </mat-error>
        <mat-error
          *ngIf="
            plateForm.get('lastName')?.hasError('notLetters') &&
            plateForm.get('lastName')?.touched
          ">
          <ng-container *ngTemplateOutlet="notLetters"></ng-container>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</ng-template>

<ng-template #requiredField> Field is required </ng-template>

<ng-template #notUniqPlate> Field should be uniq </ng-template>

<ng-template #fieldMinLength let-count="count">
  Field must contain atleast {{ count }} letters
</ng-template>

<ng-template #fieldMaxLength let-count="count">
  Field must contain no more than {{ count }} letters
</ng-template>

<ng-template #notLetters let-key="key">
  Field must contain only letters
</ng-template>

<ng-template #notPlate let-key="key">
  Plate should be 3 letters and 3 numbers
</ng-template>
